@font-face {
  font-family: 'a_FuturaRoundDemi';
  src: url('/assets/fonts/a_FuturaRoundDemi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a_FuturaRound';
  src: url('/assets/fonts/a_FuturaRound.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}